.services-title1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 59px;
  color: white;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.services-title2 {
  font-weight: 600;
  font-size: 45px;
  line-height: 68px;
  letter-spacing: 0.15em;
  color: #fff;
}
.services-page-logo{
  transition: 1s;
  transition-timing-function: ease-in-out;
}

.service-plante:hover .services-page-logo{
  margin-left: 927px;
}
@media only screen and (max-width: 768px) {
  .services-title1{
    font-size: 25px;
  }
  .services-title2 {
    font-size: 35px;
    line-height: 50px;
  }
}